iseconfig/
_xmsgs/
xst/
xlnx_auto_0_xdb/
_ngo/
*.gise
*.lso
*.ngc
*.stx
*.syr
*.csv
*.xml
*.txt
*.xpi
*.unroutes
*.xrpt
*.html
*.log
*.bin
*.bin
*.twr
*.ncd
*.bgn
*.drc
*.prj
*.ngm
*.bit
*.bld
*.pad
*.par
*.pcf
*.map
*.ut
*.twx
*.cmd_log
*.ngd
*.ngr
*.ptwx
*.xst
*.xwbt
*.mrp
