CONFIG VCCAUX = "3.3";

############################################################################
# Clocks
############################################################################

# 12 MHz crystal shared with microcontroller
#NET "mclk" LOC = D9 | TNM_NET = MCLK | IOSTANDARD = LVCMOS33;
#TIMESPEC TS_MCLK = PERIOD "MCLK" 12 MHz HIGH 50%;

# 100 MHz dedicated oscillator
NET "clk_50" LOC = V10 | TNM_NET = GCLK1 | IOSTANDARD = LVCMOS33;
TIMESPEC TS_GCLK1 = PERIOD "clk_50" 100 MHz HIGH 50%;


NET "led_written"            LOC = P16 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST; // D2
NET "led_calibrate"            LOC = P15 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST; // D1


############################################################################
# VGA
############################################################################

NET "hsync"              LOC = B12 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "vsync"              LOC = A12 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "blue[2]"            LOC = A11 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "blue[1]"            LOC = B11 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "green[2]"           LOC = C11 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[1]"           LOC = A10 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[0]"           LOC = C10 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "red[2]"             LOC = C9 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[1]"             LOC = B9 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[0]"             LOC = A9 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;


############################################################################
# LPDDR
############################################################################

# data bus
NET "mcb3_dram_dq[0]"		LOC = L2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[1]"		LOC = L1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[2]"		LOC = K2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[3]"		LOC = K1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[4]"		LOC = H2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[5]"		LOC = H1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[6]"		LOC = J3 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[7]"		LOC = J1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[8]"		LOC = M3 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[9]"		LOC = M1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[10]"	LOC = N2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[11]"	LOC = N1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[12]"	LOC = T2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[13]"	LOC = T1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[14]"	LOC = U2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dq[15]"	LOC = U1 | IOSTANDARD = MOBILE_DDR;

# address bus
NET "mcb3_dram_a[0]"		LOC = J7 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[1]"		LOC = J6 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[2]"		LOC = H5 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[3]"		LOC = L7 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[4]"		LOC = F3 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[5]"		LOC = H4 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[6]"		LOC = H3 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[7]"		LOC = H6 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[8]"		LOC = D2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[9]"		LOC = D1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[10]"	LOC = F4 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[11]"	LOC = D3 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_a[12]"	LOC = G6 | IOSTANDARD = MOBILE_DDR;

NET "mcb3_dram_udqs"		LOC = P2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dqs"		LOC = L4 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_udm"		LOC = K4 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_dm"		LOC = K3 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_ras_n"		LOC = L5 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_cas_n"		LOC = K5 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_ck"		LOC = G3 | IOSTANDARD = DIFF_MOBILE_DDR;
NET "mcb3_dram_ck_n"		LOC = G1 | IOSTANDARD = DIFF_MOBILE_DDR;
NET "mcb3_dram_ba[0]"	LOC = F2 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_ba[1]"	LOC = F1 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_we_n"		LOC = E3 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_dram_cke"		LOC = H7 | IOSTANDARD = MOBILE_DDR;
NET "mcb3_rzq"		LOC = N4 | IOSTANDARD = MOBILE_DDR;